<%= form_for [current_user, @location], :html => { :class => 'well form-horizontal'  } do |f| %>

<p>
 <%= f.label "Name" %>
 <%= f.text_field :name %>
</p>
<p>
 <%= f.label :latitude %>
 <%= f.text_field :latitude, data: {orig: @location.latitude} %>
</p>
<p>
 <%= f.label :longitude %>
 <%= f.text_field :longitude, data: {:orig => @location.longitude, :'min-value' => -1.5, :'max-value' => -1.6} %>

</p>
<%= f.submit %>
<% end %>
