<%= div_for location , data: {latitude: location.latitude, longitude: location.longitude} do %>
  <%=link_to location.name ,  [@user,location], data: {latitude: location.latitude, longitude: location.longitude } %>
<%= link_to "Delete Location" , [@user,location] , :method => :delete, :confirm => 'Are you sure you wish to delete this location' %>
<%= simple_format(location.name) %>
<div><%= number_with_precision(location.latitude, :precision => 5) %>
<%= number_with_precision(location.longitude,  :precision => 5) %>
</div>
<% end %>


