<%= link_to "List All Locations", locations_path %>
<%= link_to "List Users Locations", user_locations_path(current_user) %>
<%= javascript_include_tag 'gmap' %>

<h2>Show Location</h2>
<%= render "form" %>
<%= render "map" %>
